#block-views-block-list-frontpage-block-1 {
    width: 95%;
    margin-left: 2%;
}

.item-list {
    margin: 30px;
}

.listcontent {
    list-style: none;
    background-color: #f1f1d2;
    position: relative;
    width: 98%;
    margin-bottom: 14px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    .views-field.views-field-field-content-image {
        width: 29%;
    }
    .views-field.views-field-body {
        background-color: unset;
        p {
            position: absolute;
            width: 59%;
            border: unset;
            margin: unset;
            padding: unset;
            color: unset;
            background-color: unset;
            font-size: 25px;
            left: 31%;
            top: 23%;
        }
    }
    .views-field.views-field-title {
        position: absolute;
        top: 10%;
        left: 31%;
        width: unset;
        border: unset;
        margin: unset;
        padding: unset;
        color: unset;
        background-color: unset;
        span.field-content {
            position: unset;
            width: unset;
            border: unset;
            margin: unset;
            padding: unset;
            color: unset;
            background-color: unset;
            font-size: 34px;
        }
    }
    .views-field.views-field-view-node {
        position: absolute;
        font-size: 20px;
        top: 61%;
        left: 31%;
        width: unset;
        border: unset;
        margin: unset;
        padding: unset;
        color: unset;
        background-color: unset;
    }
    .views-field.views-field-uid {
        position: absolute;
        width: unset;
        border: unset;
        margin: unset;
        padding: unset;
        color: unset;
        background-color: unset;
        top: 61%;
        font-size: 21px;
    }
    .views-field.views-field-like-and-dislike {
        position: absolute;
        z-index: 10;
        font-size: 20px;
        left: 30%;
        top: 72%;
        @include mobile {
            padding: 10px 0px;
        }
    }
}

form#views-exposed-form-list-frontpage-block-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}