* {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 60;
  transition: ease-in-out; }
  .header .main_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .header .main_navigation ul {
      display: inline-flex;
      list-style: none;
      font-size: 18px; }
      .header .main_navigation ul li {
        margin: 0px 10px;
        padding: 7px 15px; }
        .header .main_navigation ul li:hover > ul {
          display: block; }
        .header .main_navigation ul li a {
          text-decoration: none;
          color: white;
          font-weight: 500s;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
        .header .main_navigation ul li ul {
          display: none; }
  .header .site_branding {
    padding: 10px 20px; }
  .header .search {
    padding: 10px 20px; }

form#search-block-form {
  display: inline-flex; }

.searchbox {
  margin-right: 7px;
  padding: 7px 13px; }
  .searchbox.hide {
    display: none; }

input#edit-submit {
  padding: 7px;
  color: white;
  background: cadetblue; }

.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
  background-color: white; }
  .featured .views-field-title span.field-content a {
    position: absolute;
    font-size: 45px;
    text-decoration: white;
    color: white;
    margin-left: 10px;
    border-bottom: 2px solid white;
    opacity: 100%;
    z-index: 2;
    bottom: 10%; }
  .featured .views-field-field-content-image {
    object-fit: cover; }
    .featured .views-field-field-content-image .field-content img {
      background: black;
      opacity: 70%; }

.container {
  margin: 30px; }

.main {
  margin-top: 15px;
  display: flex;
  margin-left: 9%; }
  .main .content {
    width: 69%; }
    .main .content .views-field-title span.field-content {
      position: absolute;
      font-size: 24px;
      color: White;
      z-index: 2; }
    .main .content .views-field-field-content-image {
      object-fit: cover;
      width: 72%;
      background-color: black; }
      .main .content .views-field-field-content-image:hover > .views-field-body .field-content p {
        display: block; }
      .main .content .views-field-field-content-image .field-content img {
        opacity: 70%; }
    .main .content .views-field-body .field-content p {
      position: relative;
      color: White;
      z-index: 2;
      bottom: 85px;
      width: 89%;
      padding: 7px;
      display: none; }
    .main .content .js-form-item label {
      font-size: 24px;
      position: absolute;
      left: 3.5%; }
    .main .content select#edit-sort-by {
      font-size: 16px;
      position: relative;
      right: 35%;
      top: 4px;
      width: 200px; }
    .main .content input#edit-submit {
      position: relative;
      right: 400%;
      height: 22px;
      top: 3px;
      padding: revert; }
  .main .sidebar {
    padding: 10px;
    width: 25%; }

.top_navigation {
  height: 10%;
  background: #fff;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end; }

@keyframes content {
  0% {
    bottom: 0px; } }

form#views-exposed-form-frontpage-page-1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: baseline; }

figure.align-center {
  background-color: black; }
  figure.align-center img {
    width: 100%;
    height: 100%;
    opacity: 70%; }

figcaption {
  position: absolute;
  top: 65%;
  width: 80%;
  text-align: center;
  left: 8%;
  font-size: 22px;
  color: white; }

ul.pager__items.js-pager__items {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }
